<ion-segment class="bg-dark" slot="bottom" [value]="selectedPage" scrollable swipeGesture color="primary">
  <ion-segment-button value="home" (click)="goTo('/home')">
    <ion-icon name="home"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-segment-button>
  <ion-segment-button value="about" (click)="goTo('/about')">
    <ion-icon name="help-circle"></ion-icon>
    <ion-label>A Propos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="boats" (click)="goTo('/boats')">
    <ion-icon name="boat"></ion-icon>
    <ion-label>Bateaux</ion-label>
  </ion-segment-button>
  <ion-segment-button value="restaurants" (click)="goTo('/restaurants')">
    <ion-icon name="restaurant"></ion-icon>
    <ion-label>Restaurants</ion-label>
  </ion-segment-button>
  <ion-segment-button value="recipes" (click)="goTo('/recipes')">
    <ion-icon name="fast-food"></ion-icon>
    <ion-label>Recettes</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="productValue" (click)="goTo('/categories')">
    <ion-icon name="pricetags"></ion-icon>
    <ion-label>Produits et Promotions</ion-label>
  </ion-segment-button>
  <ion-segment-button value="cart" (click)="goTo('/cart')">
    <ion-item>
      <ion-icon name="cart"></ion-icon>
      <ion-badge slot="end" class="cart__badge" color="danger">{{ cartProductsCount }}</ion-badge>
    </ion-item>
    <ion-label>Panier</ion-label>
  </ion-segment-button>
</ion-segment>
