<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="not_found_container">
        <ion-img class="not_found_img" src="../../assets/img/not_found.png"></ion-img>
        <ion-title class="not_found_title">PAGE INTROUVABLE</ion-title>
        <ion-text class="not_found_text">Désolé ... Nous n'arrivons pas à trouver la page demandé</ion-text>
        <ion-button class="not_found_btn" routerLink="/home">Accueil</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>
